                                                    __          __
                                                   |  \        |  \
 __     __  ______    ______    ______   _______  _| $$_       | $$  ______    _______
|  \   /  \|      \  /      \  /      \ |       \|   $$ \      | $$ /      \  /       \
 \$$\ /  $$ \$$$$$$\|  $$$$$$\|  $$$$$$\| $$$$$$$\\$$$$$$      | $$|  $$$$$$\|  $$$$$$$
  \$$\  $$ /      $$| $$  | $$| $$   \$$| $$  | $$ | $$ __     | $$| $$  | $$| $$
   \$$ $$ |  $$$$$$$| $$__| $$| $$      | $$  | $$ | $$|  \ __ | $$| $$__/ $$| $$_____
    \$$$   \$$    $$ \$$    $$| $$      | $$  | $$  \$$  $$|  \| $$ \$$    $$ \$$     \
     \$     \$$$$$$$ _\$$$$$$$ \$$       \$$   \$$   \$$$$  \$$ \$$  \$$$$$$   \$$$$$$$
                    |  \__| $$
                     \$$    $$
                      \$$$$$$
+ ------------------------------------------------------------------------- +
|                          Useful commands                                  |
+ ------------------------------------------------------------------------- +
| resphp - sudo service php{{ php_version }}-fpm restart                                  |
| sqllogs - tail -f /var/log/mysql/queries-log.log                          |
| sqlslowlogs - tail -f /var/log/mysql/slow-queries-log.log                 |
| xdebugon - turn on xdebug                                                 |
| xdebugoff - turn off xdebug                                               |
+ ------------------------------------------------------------------------- +
